*.meta
*.csproj
/.idea
/Assets/Old_AnimationClip
/Assets/Old_AnimatorController
Assets/Scenes/Intro.unity
Assets/Scenes/MainWorld.unity
/Assets/Scenes/MainWorld
/Assets/Scenes/SampleScene
Assets/Scenes/Title.unity
/Assets/Scenes/VillageScene
/Assets/Sprite
/Library
/Logs
*.sln
*.user
/obj
/Temp
/UIElementsSchema
/UserSettings
